{% extends "trading/base.html" %}

{% block content %}

{% load socialaccount %}
{% load static %}
{% load humanize %}

<main class="main-padding">

    <div class="container">
        <div class="row justify-content-center">

                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="in_commodity"
                    id="in_commodity" onChange="return setFields()">
                    {% for commodity in commodity_data|dictsort:"profit" reversed %}
                    <option data-buy="{{ commodity.trade_price_buy|floatformat:2 }}"
                        data-sell="{{ commodity.trade_price_sell|floatformat:2 }}" value="{{ commodity.name }}"
                        {% if commodity.name == populate_commodity %} selected{% endif %}>{{ commodity.name }}</option>
                    {% endfor %}
                </select>

                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="in_ship"
                    id="in_ship" onChange="return setUnits()">
                    {% for ship in ships|dictsort:"units" reversed %}
                    <option data-units={{ ship.units }} data-code={{ ship.code }} value="{{ ship.name }}"
                    {% if ship.code == user_ship %} selected{% endif %}>{{ ship.name }}</option>
                    {% endfor %}
                </select>

        </div>
    </div> 

    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="p-2 col-md-6 trade-box justify-content-center">
                <div class="col-md-12">
                    <form name="trade_buy_form" id="trade_buy_form" method="POST">
                        <div class="d-flex flex-column">
                            <div class="p-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 trade-box-inside">
                                            <label for="form_buy_price">Buy Price</label>
                                        </div>
                                        <div class="col-md-6 trade-box-inside">
                                            <input class="form-control input-lg" type="number"
                                                name="form_buy_price" id="form_buy_price" autocomplete="off"
                                                value="{{ populate_price }}" min="0.01" max="500" step="0.01" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="p-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 trade-box-inside">
                                            <label for="form_buy_amount">Units</label>
                                        </div>
                                        <div class="col-md-6 trade-box-inside">
                                            <input class="form-control input-lg" type="number"
                                                name="form_buy_amount" id="form_buy_amount" autocomplete="off"
                                                value="{{ populate_amount }}" min="1" max="{{ populate_amount }}" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="p-2">
                                <button class="btn btn-primary sttt-button sttt-button-100 shadow-none btn-lg btn-block"
                                    type="submit">BUY <i class="fa-solid fa-box fa-flip" style="--fa-animation-duration: 3s;"></i></button>
                            </div>

                        </div>
                        {% csrf_token %}
                        <input type="hidden" name="session_key" id="session_key" value="{{ session_key }}">
                        <input type="hidden" id="ship_data2" name="ship_data" value="CATERP">
                        <input type="hidden" id="commodity_code2" name="commodity_code" value="Titanium">
                        <input type="hidden" name="form_buy_commodity" id="form_buy_commodity"
                            value="{{ populate_commodity }}">
                        <input type="hidden" name="form_buy" value="True">
                    </form>
                </div>
            </div>

            <div class="p-2 col-md-6 trade-box sell-box">
                <div class="col-md-12">
                    <form name="trade_sell_form" id="trade_sell_form" method="POST">
                        <div class="d-flex flex-column">
                            <div class="p-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 trade-box-inside">
                                            <label for="form_sell_price">Sell Price</label>
                                        </div>
                                        <div class="col-md-6 trade-box-inside">
                                            <input class="form-control input-lg" type="number"
                                                name="form_sell_price" id="form_sell_price" autocomplete="off"
                                                value="{{ populate_price }}" min="0.01" max="500" step="0.01" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 trade-box-inside">
                                            <label for="form_sell_amount">Units</label>
                                        </div>
                                        <div class="col-md-6 trade-box-inside">
                                            <input class="form-control input-lg" type="number"
                                                name="form_sell_amount" id="form_sell_amount" autocomplete="off"
                                                value="{{ populate_amount }}" min="1" max="{{ populate_amount }}" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <button class="btn btn-primary sttt-button sttt-button-100 shadow-none btn-lg btn-block"
                                    type="submit">SELL <i class="fa-solid fa-box-open fa-flip"
                                        style="--fa-animation-duration: 3s;"></i></button>
                            </div>
                        </div>
                        {% csrf_token %}
                        <input type="hidden" name="session_key" value="{{ session_key }}">
                        <input type="hidden" id="ship_data" name="ship_data" value="CATERP">
                        <input type="hidden" id="commodity_code" name="commodity_code" value="Titanium">
                        <input type="hidden" name="form_sell_commodity" id="form_sell_commodity"
                            value="{{ populate_commodity }}">
                        <input type="hidden" name="form_buy" value="False">
                    </form>
                </div>
            </div>

        </div>
    </div>

</main>

<div>
    <table class="table table-sm table-bordered table-hover table-dark table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Commodity</th>
                <th>Cost</th>
                <th>Units</th>
                <th>Value</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades|dictsort:"amount" reversed %}
            <tr class="trade-row" onclick="return setSelect('{{ trade.commodity }}', '{{ trade.amount }}')">
                <td>{{ trade.commodity }}</td>
                <td>{{ trade.cost|floatformat:0|intcomma }}</td>
                <td>{{ trade.amount|intcomma }}</td>
                <td>{{ trade.value|floatformat:0|intcomma }}</td>
                <td>{{ trade.profit|floatformat:0|intcomma }}</td>
            </tr>
            {% empty %}
            <tr>
                <td>No Cargo On Board</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            <tr>
                <td>Current Stock:</td>
                <td>{{ total_cost|intcomma }}</td>
                <td id="total_cargo">{{ total_cargo|intcomma }}</td>
                <td>{{ total_value|intcomma }}</td>
                <td>{{ total_profit|intcomma }}</td>
            </tr>
        </tbody>
    </table>
</div>
{%endblock%}