{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Trucker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <div class="d-flex justify-content-center">
            <div class="p-2 justify-content-center text-center">
                <h1>Space Trucker Trading Tracker</h1>
            </div>
        </div>
    </header>

    <nav class="navbar-dark bg-dark">
        <div class="d-flex justify-content-center">

            <div class="p-2">
                <h2>
                    <span id="user_profit">{{ user_profit|intcomma }}</span> aUEC<br>
                </h2>
            </div>

            {% if user.is_not_authenticated %}
            <div class="p-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Register</a>
                    </li>
                </ul>
            </div>
            <div class="p-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-center">




<form class="btn btn-primary sttt-button shadow-none btn-lg btn-block" name="reset_profit" id ="reset_profit" method="POST" action="">
    {% csrf_token %}
    <input type="hidden" name="session_key" value="{{ session_key }}">
    <input type="hidden" name="reset_profit" value=True>Reset Profit
</form>




            
            {% if user.is_authenticated %}
            <a class="btn btn-primary sttt-button shadow-none btn-lg btn-block" href="{% url 'account_logout' %}" role="button">Log Out</a>
            {% else %}
            <a class="btn btn-primary sttt-button sttt-button-25 shadow-none btn-lg btn-block" href="{% url 'account_signup' %}" role="button">Register</a>
            <a class="btn btn-primary sttt-button sttt-button-25 shadow-none btn-lg btn-block" href="{% url 'account_login' %}" role="button">Log In</a>
            {% endif %}
          </div>
    </nav>














    <main>







        <div>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="in_commodity"
                id="in_commodity" onChange="return setFields()">
                {% for commodity in commodity_data|dictsort:"profit" reversed %}
                <option data-buy="{{ commodity.trade_price_buy|floatformat:2 }}"
                    data-sell="{{ commodity.trade_price_sell|floatformat:2 }}" value="{{ commodity.name }}"
                    {% if commodity.name == populate_commodity %} selected{% endif %}>{{ commodity.name }}</option>
                {% endfor %}
            </select>
        </div>








        <div>
            <table>
                <tr>
                    <th>Commodity</th>
                    <th>My Cost</th>
                    <th>Units</th>
                    <th>Sale Value</th>
                    <th>Due Profit</th>
                </tr>
                {% for trade in trades %}
                <tr>
                    <td><span
                            onclick="return setSelect('{{ trade.commodity }}', '{{ trade.amount }}')"><u>{{ trade.commodity }}</u></span>
                    </td>
                    <td>{{ trade.cost|floatformat:0|intcomma }}</td>
                    <td>{{ trade.amount|intcomma }}</td>
                    <td>{{ trade.value|floatformat:0|intcomma }}</td>
                    <td>{{ trade.profit|floatformat:0|intcomma }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>No Trades</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Current Stock:</td>
                    <td>{{ total_cost|intcomma }}</td>
                    <td>{{ total_cargo|intcomma }}</td>
                    <td>{{ total_value|intcomma }}</td>
                    <td>{{ total_profit|intcomma }}</td>
                </tr>
            </table>





























            <div>
                <form name="trade_buy_form" id="trade_buy_form" method="POST" action="">
                    <input type="number" size="5" name="form_buy_price" id="form_buy_price" autocomplete="off"
                        value="{{ populate_price }}" min="0.01" max="500" step="0.01" required>
                    <input type="number" size="5" name="form_buy_amount" id="form_buy_amount" autocomplete="off"
                        value="{{ populate_amount }}" min="1" max="69600" required>
                    {% csrf_token %}
                    <input type="hidden" name="session_key" id="session_key" value="{{ session_key }}">
                    <input type="hidden" name="form_buy_commodity" id="form_buy_commodity"
                        value="{{ populate_commodity }}">
                    <input type="hidden" name="form_buy" value="True">
                    <button type="submit">BUY!</button>
                </form>
            </div>

            <div>
                <form name="trade_sell_form" id="trade_sell_form" method="POST" action="">
                    <input type="number" size="5" name="form_sell_price" id="form_sell_price" autocomplete="off"
                        value="{{ populate_price }}" min="0.01" max="500" step="0.01" required>
                    <input type="number" size="5" name="form_sell_amount" id="form_sell_amount" autocomplete="off"
                        value="{{ populate_amount }}" min="1" max="69600" required>
                    {% csrf_token %}
                    <input type="hidden" name="session_key" value="{{ session_key }}">
                    <input type="hidden" name="form_sell_commodity" id="form_sell_commodity"
                        value="{{ populate_commodity }}">
                    <input type="hidden" name="form_buy" value="False">
                    <button type="submit">SELL!</button>
                </form>
            </div>



            {% for error in errors %}
            <h1>- - - - - {{ error.error_message }} - - - - -</h1>
            {% endfor %}
        </div>

    </main>
    <br><br>
    <footer>
        <div>
            <p>{{ time_now }} | Server Time<br>
                {{ last_updated }} | Last Update from <a href="https://uexcorp.space/" target="_blank">UEX</a></p>
        </div>
        <div>
            <p>Visit this project's <a href="https://github.com/MadStu/space-trucker/" target="_blank">GitHub Page</a></p>
        </div>
    </footer>

    <script>
        document.getElementById('reset_profit').addEventListener('click', function (event) {
            document.getElementById('reset_profit').submit();
        });


        function setFields() {
            // Get the selection box
            var selectBox = document.getElementById("in_commodity");
            // Get the selected option
            var selectedOption = selectBox.options[selectBox.selectedIndex];
            // Get the attribute value
            var buyValue = selectedOption.getAttribute("data-buy");
            var sellValue = selectedOption.getAttribute("data-sell");
            var commodityValue = selectedOption.getAttribute("value");
            // Get the fields
            var buyPrice = document.getElementById("form_buy_price");
            var sellPrice = document.getElementById("form_sell_price");
            var formBuyCommodity = document.getElementById("form_buy_commodity");
            var formSellCommodity = document.getElementById("form_sell_commodity");
            // Insert the values
            buyPrice.value = buyValue;
            sellPrice.value = sellValue;
            formBuyCommodity.value = commodityValue;
            formSellCommodity.value = commodityValue;
        };

        function setSelect(commodity, amount) {
            // Get the fields
            var selectBox = document.getElementById("in_commodity");
            var buyAmount = document.getElementById("form_buy_amount");
            var sellAmount = document.getElementById("form_sell_amount");
            // Change the selected commodity and insert the unit amounts
            selectBox.value = commodity;
            buyAmount.value = amount;
            sellAmount.value = amount;
            // Set the price and hidden fields
            setFields();
        };

        setFields()
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
</body>

</html>