{% extends "trading/base.html" %}
{% block content %}
{% load socialaccount %}
{% load static %}
{% load humanize %}

<main class="main-padding">
    <h2>How to use the STTT</h2>
    <p class="top-subline">A letter from the Developer</p>
    <p>Hello fellow Space-Trucker! o7</p>
    <p>The STTT is a very simple tool to use. You select the commodity you want to buy. You input the buy price you're paying per unit, you enter how many usits yo're buying and then hit the BUY button.</p>
    <p>You'll see your entered trade appear underneath along with calculated information such as how much it cost you and and estimate of how much profit you're due to make.</p>
    <p>Your total at the top will update, taking away the cost that you've paid.</p>
    <p>When it's time to sell, you do the same again but in the sell box and hit the SELL button.</p>
    <p>The STTT keeps track of the commodities you have on board, so for instance if you're on a trade run and running low on medical supplies, you'll know to restock.</p>
    <p>And it's a mobile friendly design so run it on your phone to keep your time out of the Star Citizen screen to a minimum. You need to keep your eyes peeled for pirates!</p>
    <p>I hope you'll find it as useful as I have. I hope that you make a lot of profit and that you never experience another 30K error!</p>
    <p>Regards,
        <br>Max_Hamilton</p>
    
</main>
{%endblock%}