{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block extra_head %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Trucker Trading Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% block body %}

    {% if messages %}
    <div>
        <strong>Messages:</strong>
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div>
        <strong>Menu:</strong>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
</body>

</html>