@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
    background-color: DarkSlateGray;
}

p,
h1,
h2,
h3,
a,
table {
    color: ivory;
}

h1,
h2 {
    font-family: 'Michroma', sans-serif;
}

.form-select {
    background-color: #181D27;
    color: ivory;
}
