@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html {
    background-image: url("/static/images/star-citizen-caterpillar-bg.jpg");
    background-color: DarkSlateGray;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    min-height: 100vh;
    background-color: DarkSlateGray;
    color: ivory;
    max-width: 912px;
    margin: auto;
}

a {
    text-decoration: none;
    color: ivory;
}

a:hover, a:active {
    color: lightpink;
    text-decoration: underline;
}

h1, h2 {
    font-family: 'Michroma', sans-serif;
}

.top-button-padding {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.lower-button-padding {
    padding-top: 5px;
}

.main-padding {
    padding: 15px;
}

.sttt-button {
    width: 100%;
    background-color: rgb(204, 216, 41);
    border-color: #212529;
    border-width: 3px;
    font-family: 'Michroma', sans-serif;
    color: #212529;
}

.sttt-button:hover, .sttt-button:active {
    text-decoration: none;
    background-color: #212529;
    border-color: #212529;
    color: ivory;
}

.sttt-button-25 {
    width: 50%;
}

.form-select, .form-control {
    background-color: #181D27;
    color: ivory;
}

.trade-box {
    background-color: rgb(94, 214, 130);
    border-radius: 10px;
    border: 2px solid #212529;
    color: #212529;
    font-weight: bold;
}

.sell-box {
    background-color: coral;
}

.sttt-button-100 {
    width: 100%;
}

.table-dark {
    color: ivory;
}

.lower-login-top {
    padding-top: 15px;
    padding-bottom: 0px;
}

.lower-login {
    padding-left: 30px;
    padding-right: 30px;
    font-size: x-small;
}

.lower-login a {
    font-weight: 600;
    text-decoration: underline;
}



footer {
    font-size: x-small;
    padding-right: 30px;
    padding-left: 30px;
}

.footer-links a {
    font-weight: 600;
}

.footer-thanks {
    text-align: right;
}

.footer-thanks a {
    font-weight: 600;
}

.footer-links {
    font-size: small;
}

/* Media queries */

/* For screen sizes from 768px wide and down */
@media screen and (max-width: 768px){
    .sttt-button-25, .btn, .btn-primary {
        width: 100%;
    }

    .header-block {
        display: block;
    }

    .main-padding {
        padding: 5px;
    }

    .trade-box-inside {
        width: 50%;
    }

    .table-dark {
        font-size: small;
    }
    footer img {
        width: 50px;
    }
}