@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html {
    background-image: url("/static/images/star-citizen-caterpillar-bg.95b37604f93e.jpg");
    background-color: DarkSlateGray;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    min-height: 100vh;
    background-color: DarkSlateGray;
    color: ivory;
    max-width: 912px;
    margin: auto;
}

i {
    padding: 0 10px;
}

a {
    text-decoration: underline;
    color: ivory;
    font-weight: 600;
}

a:hover,
a:active {
    color: lightpink;
}

h1,
h2 {
    font-family: 'Michroma', sans-serif;
}

.heading-text, .top-subline {
    padding: 0;
    margin: 0;
}

.top-subline {
    text-align: right;
}

.top-button-padding {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.lower-button-padding {
    padding-top: 5px;
}

.main-padding {
    padding: 15px;
}

.sttt-button {
    width: 100%;
    background-color: rgb(204, 216, 41);
    border-color: #212529;
    border-width: 3px;
    font-family: 'Michroma', sans-serif;
    color: #212529;
}

.sttt-button:hover,
.sttt-button:active {
    text-decoration: none;
    background-color: #212529;
    border-color: #212529;
    color: ivory;
}

.form-select,
.form-control {
    background-color: #181D27;
    color: ivory;
    border-radius: 5px;
    border-color: ivory;
    border-style: solid;
    border-width: 1px;
}

.trade-box {
    background-color: rgb(94, 214, 130);
    border-radius: 10px;
    border: 2px solid #212529;
    color: #212529;
    font-weight: bold;
}

.trade-box label {
    font-family: 'Michroma', sans-serif;
    text-align: right;
    font-size: large;
    background-color: #181D27;
    color: ivory;
    padding: 4px 9px;
    border-radius: 5px;
    border-color: ivory;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    margin: 1px;
}

.sell-box {
    background-color: coral;
}

.sttt-button-100 {
    width: 100%;
}

.table-dark {
    color: ivory;
}

.lower-login-top {
    padding-top: 15px;
    padding-bottom: 15px;
}

.lower-login {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 11px;
}

footer {
    font-size: 11px;
    padding-right: 30px;
    padding-left: 30px;
}

.footer-links {
    font-size: small;
}

.modal-header, .modal-footer {
    background-color: crimson;
}

.modal-green {
    background-color: rgb(57, 180, 32);
}

.modal-body{
    color: #212529;
    font-weight: 500;
    text-transform: uppercase;
}

/* Media queries */

/* For screen sizes from 768px wide and down */
@media screen and (max-width: 768px) {

    .btn,
    .btn-primary {
        width: 100%;
    }

    .header-block {
        display: block;
    }

    .main-padding {
        padding: 5px;
    }

    .trade-box-inside {
        width: 50%;
    }

    .table-dark {
        font-size: small;
    }

    footer img {
        width: 50px;
    }

    .hide-me {
        display: none;
    }
}