<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Trucker</title>
</head>
<body>
    <h1>Space Trucker</h1>
    <h2>A Trading Tool for Star Citizen</h2>
    <h3>!! NON-FUNCTIONAL - UNDER CONSTRUCTION !!</h3>
    <br><br>

    <div>
        <table>
            <form action="">
                <tr>
                    <th>Commodity</th>
                    <th>Buy Price</th>
                    <th>Amount</th>
                    <th>Buy / Sell</th>
                    <th></th>
                </tr>
                {% for trade in trades %}
                <tr>
                    <td>{{ trade.commodity }}</td>
                    <td>{{ trade.price }}</td>
                    <td>{{ trade.amount }}</td>
                    <td>{{ trade.buy }}</td>
                    <td></td>
                </tr>
                {% empty %}
                <tr>
                    <td>No Trades</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>Total Cargo:</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Add A New Trade</th>
                    <th>Buy Price</th>
                    <th>Amount</th>
                    <th>Buy / Sell</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <select name="commodity" id="commodity">
                            {% for commodity in api|dictsort:"profit" reversed %}
                            <option value="{{ commodity.name }}">{{ commodity.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="textfield" size="5" name="price" id="price"></td>
                    <td><input type="textfield" size="5" name="amount" id="amount"></td>
                    <td><select name="buy">
                        <option value="True">Buy</option>
                        <option value="False">Sell</option>
                    </select></td>
                    <td><input type="submit"></td>
                </tr>
            </form>
        </table>
    </div>
    <br><br>
    <div>
        <table>
            <tr>
                <th>Commodity</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>Profit</th>
                <th>Kind</th>
            </tr>
            {% for commodity in api|dictsort:"profit" reversed %}
            <tr>
                <td>{{ commodity.name }}</td>
                <td>{{ commodity.trade_price_buy }}</td>
                <td>{{ commodity.trade_price_sell }}</td>
                <td>{{ commodity.profit }}</td>
                <td>{{ commodity.kind }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>