<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Trucker</title>
</head>
<body>
    <nav>
        <div>
            <p>{% if user.is_authenticated %}<a href="{% url 'account_logout' %}">Logout</a>{% else %}<a href="{% url 'account_signup' %}">Register</a> | <a href="{% url 'account_login' %}">Login</a>{% endif %}</p>
        </div>
    </nav>
    <h1>The Space Trucker Trading Tracker</h1>
    <h2>Keep track of your cargo.</h2>
    <h4>!! UNDER CONSTRUCTION !! - There will be bugs, please report them :)</h4>
    <ul>
        <li>This service requires your browser to accept a session cookie.</li>
    </ul>
    <br>

    <div>
        <table>
            <form method="POST" action="">
                <tr>
                    <th>Commodity</th>
                    <th>Cost</th>
                    <th>Units</th>
                    <th>Sale Value</th>
                    <th>Profit</th>
                </tr>
                {% for trade in trades %}
                <tr>
                    <td>{{ trade.commodity }}</td>
                    <td>{{ trade.cost|floatformat:0 }}</td>
                    <td>{{ trade.amount }}</td>
                    <td>{{ trade.value|floatformat:0 }}</td>
                    <td>{{ trade.profit|floatformat:0 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>No Trades</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Totals:</td>
                    <td>{{ total_cost }}</td>
                    <td>{{ total_cargo }}</td>
                    <td>{{ total_value }}</td>
                    <td>{{ total_profit }}</td>
                </tr>
                <tr>
                    <th>Add A New Trade</th>
                    <th>Unit Price</th>
                    <th>Units</th>
                    <th>Buy / Sell</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <select name="form_commodity" id="form_commodity" required>
                            {% for commodity in commodity_data|dictsort:"profit" reversed %}
                            <option value="{{ commodity.name }}"{% if commodity.name == populate_commodity %} selected{% endif %}>{{ commodity.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="textfield" size="5" name="form_price" id="form_price" autocomplete="off" value="{{ populate_price }}" required></td>
                    <td><input type="textfield" size="5" name="form_amount" id="form_amount" autocomplete="off" value="{{ populate_amount }}" required></td>
                    <td><select name="form_buy" id="form_buy" required>
                        <option value="True">Buy</option>
                        <option value="False"{% if not populate_buy %} selected{% endif %}>Sell</option>
                    </select></td>
                    <td><button type="submit">Submit</button></td>
                    {% csrf_token %}
                    <input type="hidden" name="session_key" value="{{ session_key }}">
                </tr>  
            </form>
        </table>
        {% for error in errors %}
        <h1>- - - - - {{ error.error_message }} - - - - -</h1>
        {% endfor %}
    </div>
    <br><br>
    <div>
        <table>
            <tr>
                <th>Commodity</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>Profit</th>
                <th>Kind</th>
                <th>Full C2 Cost</th>
                <th>Full C2 Profit</th>
            </tr>
            {% for commodity in commodity_data|dictsort:"profit" reversed %}
            <tr>
                <td>{{ commodity.name }}</td>
                <td>{{ commodity.trade_price_buy|floatformat:2 }}</td>
                <td>{{ commodity.trade_price_sell|floatformat:2 }}</td>
                <td>{{ commodity.profit|floatformat:2 }}</td>
                <td>{{ commodity.kind }}</td>
                <td>{% widthratio commodity.trade_price_buy 1 69600 %}</td>
                <td>{% widthratio commodity.profit 1 69600 %}</td>
            </tr>
            {% endfor %}
        </table>
        <p>{{ time_now }} | Server Time</p>
        <p>{{ last_updated }} | Last Update from <a href="https://uexcorp.space/" target="_blank">UEX</a></p>
    </div>
</body>
</html>