<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Trucker</title>
</head>
<body>
    <nav>
        <div>
            <p>{% if user.is_authenticated %}<a href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}">Register</a> | <a href="{% url 'account_login' %}">Login</a>{% endif %}</p>
        </div>
    </nav>
    <h1>The Space Trucker Trading Tracker</h1>
    <h2>Keep track of your cargo.</h2>
    <br>

    <div>
        <table>
            <tr>
                <th>Commodity</th>
                <th>Cost</th>
                <th>Units</th>
                <th>Sale Value</th>
                <th>Profit Due</th>
            </tr>
            {% for trade in trades %}
            <tr>
                <td><a href="#" onclick="return setSelect('{{ trade.commodity }}', '{{ trade.amount }}')">{{ trade.commodity }}</a></td>
                <td>{{ trade.cost|floatformat:0 }}</td>
                <td>{{ trade.amount }}</td>
                <td>{{ trade.value|floatformat:0 }}</td>
                <td>{{ trade.profit|floatformat:0 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td>No Trades</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Totals:</td>
                <td>{{ total_cost }}</td>
                <td>{{ total_cargo }}</td>
                <td>{{ total_value }}</td>
                <td>{{ total_profit }}</td>
            </tr>
        </table>
        
        <div>
            <select name="in_commodity" id="in_commodity" onChange="return setFields()">
                {% for commodity in commodity_data|dictsort:"profit" reversed %}
                    <option data-buy="{{ commodity.trade_price_buy|floatformat:2 }}" data-sell="{{ commodity.trade_price_sell|floatformat:2 }}" value="{{ commodity.name }}"{% if commodity.name == populate_commodity %} selected{% endif %}>{{ commodity.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <form name="trade_buy_form" id ="trade_buy_form" method="POST" action="">
                <input type="number" size="5" name="form_buy_price" id="form_buy_price" autocomplete="off" value="{{ populate_price }}" min="0.01" max="500" step="0.01" required>
                <input type="number" size="5" name="form_buy_amount" id="form_buy_amount" autocomplete="off" value="{{ populate_amount }}" min="1" max="69600" required>
                {% csrf_token %}
                <input type="hidden" name="session_key" id="session_key" value="{{ session_key }}">
                <input type="hidden" name="form_buy_commodity" id="form_buy_commodity" value="{{ populate_commodity }}">
                <input type="hidden" name="form_buy" value="True">
                <button type="submit">BUY!</button>
            </form>
        </div>

        <div>
            <form name="trade_sell_form" id ="trade_sell_form" method="POST" action="">
                <input type="number" size="5" name="form_sell_price" id="form_sell_price" autocomplete="off" value="{{ populate_price }}" min="0.01" max="500" step="0.01" required>
                <input type="number" size="5" name="form_sell_amount" id="form_sell_amount" autocomplete="off" value="{{ populate_amount }}" min="1" max="69600" required>
                {% csrf_token %}
                <input type="hidden" name="session_key" value="{{ session_key }}">
                <input type="hidden" name="form_sell_commodity" id="form_sell_commodity" value="{{ populate_commodity }}">
                <input type="hidden" name="form_buy" value="False">
                <button type="submit">SELL!</button>
            </form>
        </div>

        {% for error in errors %}
        <h1>- - - - - {{ error.error_message }} - - - - -</h1>
        {% endfor %}
    </div>
    <br><br>
    <div>
        <!-- <table>
            <tr>
                <th>Commodity</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>Profit</th>
                <th>Kind</th>
                <th>Full C2 Cost</th>
                <th>Full C2 Profit</th>
            </tr>
            {% for commodity in commodity_data|dictsort:"profit" reversed %}
            <tr>
                <td>{{ commodity.name }}</td>
                <td>{{ commodity.trade_price_buy|floatformat:2 }}</td>
                <td>{{ commodity.trade_price_sell|floatformat:2 }}</td>
                <td>{{ commodity.profit|floatformat:2 }}</td>
                <td>{{ commodity.kind }}</td>
                <td>{% widthratio commodity.trade_price_buy 1 69600 %}</td>
                <td>{% widthratio commodity.profit 1 69600 %}</td>
            </tr>
            {% endfor %}
        </table> -->
        <p>{{ time_now }} | Server Time</p>
        <p>{{ last_updated }} | Last Update from <a href="https://uexcorp.space/" target="_blank">UEX</a></p>
    </div>
    <script>
        function setFields(){
            // Get the selection box
            var selectBox = document.getElementById("in_commodity");
            // Get the selected option
            var selectedOption = selectBox.options[selectBox.selectedIndex];
            // Get the attribute value
            var buyValue = selectedOption.getAttribute("data-buy");
            var sellValue = selectedOption.getAttribute("data-sell");
            var commodityValue = selectedOption.getAttribute("value");
            // Get the fields
            var buyPrice = document.getElementById("form_buy_price");
            var sellPrice = document.getElementById("form_sell_price");
            var formBuyCommodity = document.getElementById("form_buy_commodity");
            var formSellCommodity = document.getElementById("form_sell_commodity");
            // Insert the values
            buyPrice.value = buyValue;
            sellPrice.value = sellValue;
            formBuyCommodity.value = commodityValue;
            formSellCommodity.value = commodityValue;
        };

        function setSelect(commodity, amount){
            // Get the fields
            var selectBox = document.getElementById("in_commodity");
            var buyAmount = document.getElementById("form_buy_amount");
            var sellAmount = document.getElementById("form_sell_amount");
            // Change the selected commodity and insert the unit amounts
            selectBox.value = commodity;
            buyAmount.value = amount;
            sellAmount.value = amount;
            // Set the price and hidden fields
            setFields();
        };

        setFields()
    </script>
</body>
</html>